@using Contentful.Core.Models

@model ContentfulCollection<Movie>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Select a genre</h1>

<div id="selectContainer">
    <ul class="navbar-nav flex-grow-1 text-center">
        <li class="nav-item">
            <a id="scifiSelector" class="genreSelector nav-link" asp-area="" asp-controller="SciFi" asp-action="SciFi">Sci-Fi</a>
        </li>
        <li class="nav-item">
            <a id="fantasySelector" class="genreSelector nav-link" asp-area="" asp-controller="Fantasy" asp-action="Fantasy">Fantasy</a>
        </li>
    </ul>
</div>